.container-edit
{
    align-items: flex-start;
    gap: 20px;
}

.card-view-perfil
{
    width: 350px;
    padding: 40px;
}
.card-view-perfil_img
{
    width: 100%;
    height: 200px;
}
.card-view-perfil_img .image
{
    width: 200px; height: 200px;
    border-radius: 50%;
}
.card-view-perfil_img .image img
{
    width: 100%;
    object-fit: cover;
}
.card-view-perfil_conteudo .list-item-dados
{
     word-wrap: break-word;
}

.card-edit-perfil
{
    width: 850px;
}
.card-title
{
    position: relative;
    padding-bottom: 10px;
    border-bottom: 2px solid var(--blue);
}
.card-title h3
{
    font-size: var(--size-text);
}

.card-edit-perfil .card-edit-perfil_alterar-img input
{
    visibility: hidden;
}