.container-edit
{
    align-items: flex-start;
    gap: 20px;
}

.card-view-perfil
{
    width: 350px;
    padding: 40px;
}
.card-view-perfil_img
{
    width: 100%;
    height: 200px;
}
.card-view-perfil_img .image
{
    width: 200px; height: 200px;
    border-radius: 50%;
}
.card-view-perfil_img .image img
{
    width: 100%;
    object-fit: cover;
}
.card-view-perfil_conteudo .list-item-dados
{
     word-wrap: break-word;
}

.card-edit-perfil
{
    width: 850px;
}
.card-title
{
    position: relative;
    padding-bottom: 10px;
    border-bottom: 2px solid var(--blue);
}
.card-title h3
{
    font-size: var(--size-text);
}

.card-edit-perfil
{
    height: 490px;
}
.card-edit-perfil_alterar-img input
{
    visibility: hidden;
}

.card-edit-perfil .row
{
    gap: 40px;
}
.card-edit-perfil .row .row_input
{
    position: relative;
    width: 100%;
}
.card-edit-perfil .row .row_input .eye-input
{
    position: absolute;
    right: 0; bottom: 8px;
    font-size: var(--size-text);
    cursor: pointer;
}
.card-edit-perfil .row .row_input input
{
    width: 100%;
    font-size: var(--size-subtext);
    border: none;
    border-bottom: 2px solid var(--blue);
    padding: 10px 0;
    background: transparent;
    transition: border .2s ease-in-out;
}
.card-edit-perfil .row .row_input
{
    margin-bottom: 40px;
}
.card-edit-perfil .row .row_input input:focus
{
    border-bottom: 2px solid var(--green);
}
.card-edit-perfil_form .row.salver-edit_btn
{
    margin-top: 80px;
    margin-bottom: 0;
}